.grid-container {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.col {
  background-color: #f0f0f0;
  padding: 60px 40px;
  border: 1px solid #ccc;
  width: 100%;
}
.dot {
  width: 12px;
  height: 12px;
  background-color: #136655;
  border-radius: 50%;
}
.cards:hover {
  outline: 2px dashed #0072FF;
  outline-offset: -2px; /* Dışarı taşan çizgiyi elemanın içine çeker */
  transition: outline 0.3s;
}
@media only screen and (max-width: 768px) {
  .grid-container {
    width: 90%;
  }
}
